.border {
    border: 1px solid gray;
    padding: 15px;
    margin: 10px;
}

.class1 {
    color: red;
    font-weight: bold;
    font-style: italic;
}

.class2 {
    background-color: red;
    font-family: 'Bookman Old Style'
}

.done-td {
    text-align: center;
}


.even-row {
	background-color: #e2b4d9;
}

.odd-row {
	background-color: #e86988;
}

.completed {
  text-decoration: line-through;
}
